.top-img img {
  width: 100%;
}

.hire a {
  font-weight: bold;
}

.form-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 24px 16px;
  padding: 64px 0;
  border-bottom: 8px solid #c4d6fd;
  border-radius: 64px;
}

.form-area .text-muted {
  margin: 0 10%;
}

form {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

fieldset {
  margin: 16px;
  display: flex;
  flex-direction: column;
  width: 45%;
}

fieldset legend {
  background: #c4d6fd;
  padding: 8px 16px;
  border-radius: 8px;
}
.small-message {
  font-size: small;
  color: #cd001a;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="date"] {
  height: 40px;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin: 8px;
}

#form-bottom {
  width: 100%;
  align-items: center;
}

#form-bottom span:first-of-type {
  display: inline-flex;
}

textarea {
  height: 128px;
}

.form-button {
  width: 300px;
  padding: 8px 16px;
  margin: 8px 16px;
}

.cta {
  padding: 8px 24px;
  margin: 0px auto;
  width: 75%;
}

#error-card {
  color: white;
  display: block;
  width: 100%;
  background: rgb(253, 0, 37);
  background: linear-gradient(
    184deg,
    rgba(253, 0, 37, 1) 20%,
    rgba(124, 4, 22, 1) 80%
  );
  padding: 16px;
}
#error-card img {
  display: block;
  width: 50%;
  margin: 8px auto;
}
#error-card h1 {
  text-align: center;
}
@media screen and (max-width: 762px) {
  fieldset {
    width: 100%;
  }

  .form-area {
    width: 100%;
    padding: 32px 8px;
    margin: 16px 0;
    border-radius: 32px;
  }

  form {
    width: 100%;
  }

  .form-button {
    width: 100%;
  }
  .cta {
    width: 100%;
  }
}
